modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/ayush-medico: web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow]]
name = "artifacts/ayush-medico: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=18169 BASE_PATH=/ pnpm --filter @workspace/ayush-medico run dev"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_ADMIN_EMAIL = "adminayushmedical@gmail.com"
VITE_FIREBASE_API_KEY = "AIzaSyBKHUUgd5YYHAfJxGEBKRWSDc7kd3mhMLM"
VITE_FIREBASE_APP_ID = "1:393423004675:web:45e2d434b8c0633cd89a36"
VITE_FIREBASE_AUTH_DOMAIN = "ayush-medico.firebaseapp.com"
VITE_FIREBASE_MEASUREMENT_ID = "G-V81ZNN4YDX"
VITE_FIREBASE_MESSAGING_SENDER_ID = "393423004675"
VITE_FIREBASE_PROJECT_ID = "ayush-medico"
VITE_FIREBASE_STORAGE_BUCKET = "ayush-medico.firebasestorage.app"
RAZORPAY_KEY_ID = "rzp_test_TCRTOgywMxmWhD"
RAZORPAY_KEY_SECRET = "ajqbIrEoIt8vUycYjq4bshZQ"
VITE_RAZORPAY_KEY_ID = "rzp_test_TCRTOgywMxmWhD"
